<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoXueTest</title>
    <link rel="stylesheet" href="../../static/reset.css">
    <link rel="stylesheet" href="../css/main.min.css">
</head>

<body>
    <header></header>
    <!-- 学校列表 -->
    <section class="school-section">
        <div id="school-list">
        </div>
    </section>
    <footer></footer>
    <script type="text/javascript" src="../../bower_components/mockjs/dist/mock.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../mock/api.js"></script>
</body>

</html>