<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoXueTest</title>
    <link rel="stylesheet" href="../../static/reset.css">
    <link rel="stylesheet" href="../css/main.min.css">
</head>

<body>
    <header></header>
    <!-- 学校列表 -->
    <section class="school-section">
        <div class="school-list">
            <!-- 每个学校 -->
            <div class="school-item">
                <div class="school-logo">
                    <img src="../../static/logo.png" alt="北京交通大学">
                </div>
                <div class="school-data">
                    <div class="data-column">
                        <p class="grey-text font-18">148</p>
                        <p class="grey-text m-t-5">参访人数</p>
                    </div>
                    <div class="line"></div>
                    <div class="data-column">
                        <img src="../../static/icon-ppt.png" alt="PPT"></img>
                        <a class="grey-text normal-link m-t-5">宣讲PPT</a>
                    </div>
                </div>
                <button class="primary-btn-large">
                    了解详情>
                </button>
            </div>
            <div class="school-item">
                <div class="school-logo">
                    <img src="../../static/logo.png" alt="北京交通大学">
                </div>
                <div class="school-data">
                    <div class="data-column">
                        <p class="grey-text font-18">148</p>
                        <p class="grey-text m-t-5">参访人数</p>
                    </div>
                    <div class="line"></div>
                    <div class="data-column">
                        <img src="../../static/icon-ppt.png" alt="PPT"></img>
                        <a class="grey-text normal-link m-t-5">宣讲PPT</a>
                    </div>
                </div>
                <button class="primary-btn-large">
                    了解详情>
                </button>
            </div>
            <div class="school-item">
                <div class="school-logo">
                    <img src="../../static/logo.png" alt="北京交通大学">
                </div>
                <div class="school-data">
                    <div class="data-column">
                        <p class="grey-text font-18">148</p>
                        <p class="grey-text m-t-5">参访人数</p>
                    </div>
                    <div class="line"></div>
                    <div class="data-column">
                        <img src="../../static/icon-ppt.png" alt="PPT"></img>
                        <a class="grey-text normal-link m-t-5">宣讲PPT</a>
                    </div>
                </div>
                <button class="primary-btn-large">
                    了解详情>
                </button>
            </div>
            <div class="school-item">
                <div class="school-logo">
                    <img src="../../static/logo.png" alt="北京交通大学">
                </div>
                <div class="school-data">
                    <div class="data-column">
                        <p class="grey-text font-18">148</p>
                        <p class="grey-text m-t-5">参访人数</p>
                    </div>
                    <div class="line"></div>
                    <div class="data-column">
                        <img src="../../static/icon-ppt.png" alt="PPT"></img>
                        <a class="grey-text normal-link m-t-5">宣讲PPT</a>
                    </div>
                </div>
                <button class="primary-btn-large">
                    了解详情>
                </button>
            </div>
            <div class="school-item">
                <div class="school-logo">
                    <img src="../../static/logo.png" alt="北京交通大学">
                </div>
                <div class="school-data">
                    <div class="data-column">
                        <p class="grey-text font-18">148</p>
                        <p class="grey-text m-t-5">参访人数</p>
                    </div>
                    <div class="line"></div>
                    <div class="data-column">
                        <img src="../../static/icon-ppt.png" alt="PPT"></img>
                        <a class="grey-text normal-link m-t-5">宣讲PPT</a>
                    </div>
                </div>
                <button class="primary-btn-large">
                    了解详情>
                </button>
            </div>
            <div class="school-item">
                <div class="school-logo">
                    <img src="../../static/logo.png" alt="北京交通大学">
                </div>
                <div class="school-data">
                    <div class="data-column">
                        <p class="grey-text font-18">148</p>
                        <p class="grey-text m-t-5">参访人数</p>
                    </div>
                    <div class="line"></div>
                    <div class="data-column">
                        <img src="../../static/icon-ppt.png" alt="PPT"></img>
                        <a class="grey-text normal-link m-t-5">宣讲PPT</a>
                    </div>
                </div>
                <button class="primary-btn-large">
                    了解详情>
                </button>
            </div>
            <div class="school-item">
                <div class="school-logo">
                    <img src="../../static/logo.png" alt="北京交通大学">
                </div>
                <div class="school-data">
                    <div class="data-column">
                        <p class="grey-text font-18">148</p>
                        <p class="grey-text m-t-5">参访人数</p>
                    </div>
                    <div class="line"></div>
                    <div class="data-column">
                        <img src="../../static/icon-ppt.png" alt="PPT"></img>
                        <a class="grey-text normal-link m-t-5">宣讲PPT</a>
                    </div>
                </div>
                <button class="primary-btn-large">
                    了解详情>
                </button>
            </div>
            <div class="school-item">
                <div class="school-logo">
                    <img src="../../static/logo.png" alt="北京交通大学">
                </div>
                <div class="school-data">
                    <div class="data-column">
                        <p class="grey-text font-18">148</p>
                        <p class="grey-text m-t-5">参访人数</p>
                    </div>
                    <div class="line"></div>
                    <div class="data-column">
                        <img src="../../static/icon-ppt.png" alt="PPT"></img>
                        <a class="grey-text normal-link m-t-5">宣讲PPT</a>
                    </div>
                </div>
                <button class="primary-btn-large">
                    了解详情>
                </button>
            </div>
        </div>
    </section>
    <footer></footer>
    <script src="../js/index.js"></script>
</body>

</html>